.App {
  text-align: left;
  background-color: #FFFDF8;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

.App-navlink{
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-navbar{
  height: 50px;
  background-color: #FFD8D8;
  display: flex;
  justify-content: flex-end;
}

.App-navlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
font-style: normal;
font-size: 20px;
line-height: 50px;
color: #1C428A;
width: 320px;
}

.App-navlink{
  color: #1C428A;
  text-decoration: none;
}

.App-navlink:hover{
  text-decoration: underline;
}

.App-words {
  margin-left: 10%;
  margin-right: 10%;
}

.App-subheading {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  width: 800px;
  margin-bottom: 54px;
}

.App-promptLinks{
  font-weight: 650;
}

.App-promptInfo {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.App-header {
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  margin-top: 150px;
}

.App-prompt{
  padding: 20px;
  background-color: #FFEDED;
  border-radius: 15px;
  width: 940px;
  margin: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.App-promptTitle {
  color: #1C428A;
  font-weight: 600;
}

.App-promptText {
  margin-top: 8px;
  margin-bottom: 8px;
}

.App-promptLink:hover{
  cursor: pointer;
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}
